body {
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
   }

.content {
    background-color: white;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url("/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* text-shadow: black 0.3em 0.3em 0.3em; */
}

.modal-content {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#redtext {
    font-family: 'Passion One', cursive;
    color: red;
}

#redbox {
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
    background: rgba(240, 228, 228, 0.8); 
    padding: 3px;
    margin-left: -10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
}

#roboto {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
    font-weight: bold;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

#foot:hover {
    color: red;
}

label {
    font-family: 'Roboto', sans-serif;

}

.modal-content {
    font-family: 'Roboto', sans-serif;
}